h1	{
	color: #ff0000;
	margin-left: 15px
	}

h2	{
	color: #ff8000;
	margin-left: 15px
	}

#nav	{
	border: 3px solid #00ffff;
	margin:10px 5px 15px 20px;
	padding:10px 10px 10px 10px;
}

#nav a	{
	text-decoration: none;
	color: #0066cc;
}

.recommended {
	font-family: arial;
	margin-left: 15px;
}